{% extends 'base.html' %}
{% block content %}
<div class="row row-flex mb-4">
<!--Display all products in the web store as Boostrap Cards-->
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display card card-default mb-4">
            <div>
                <p class="product-artistname">{{ product.artistname }}</p>
                <div class="product zoom" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }} €</p>
            </div>
            <div class="card-footer">
                <form class="mb-2" method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" value="1">
                        <span class="input-group-btn">
                            <button class="btn greenbutton ml-3" type="submit"><i class="fas fa-plus"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
    <!--Paging-->
{% if products.has_other_pages %}
<div class="col-12 pagingstyles">
<nav aria-label="products in artstore">
  <ul class="pagination justify-content-center">
        {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
        {% endif %}
    {% for i in products.paginator.page_range %}
        {% if products.number == i %}
            <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
        {% if products.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
        {% endif %}
  </ul>
</nav>
</div>
{% endif %}
</div>

{% endblock %}