{% extends 'base.html' %}
{% block content %}

<div class="row row-flex d-flex justify-content-center align-items-center">
    <div class = "col-12 col-lg-10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <h3>Upcoming Art Events</h3>
                </tr>
            </thead>
            <tbody class="justify-content-center">
                {% for event in events %} 
                <tr>
                    <td class="align-middle"><p>{{event.day }}</p>
                        <div class="eventimage zoom" style="background-image: url('{{ MEDIA_URL }}{{ event.image }}')"></div>
                    </td>
                    <td class="align-middle"><h3><strong>{{ event.artist }}</strong></h3><p>{{ event.notes }}</p></td>
                    <td class="align-middle"><strong><p>{{ event.hall  }}</p></strong></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% if events.has_other_pages %}
<div class="col-12 pagingstyles">
<nav aria-label="events in eventcalendar">
  <ul class="pagination justify-content-center">
        {% if events.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ events.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
        {% endif %}
    {% for i in events.paginator.page_range %}
        {% if events.number == i %}
            <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
        {% if products.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
        {% endif %}
  </ul>
</nav>
</div>
{% endif %}

    </div>
</div>

{% endblock %}