{% extends 'base.html' %}
{% block content %}
<div class="row row-flex">
    {% for exhibition in events %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display card card-default">
            <div>
                <p class="product-artistname">{{ exhibiton.artist }}</p>
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ exhibition.image }}')"></div>

                <h3>{{ exhibition.name }}</h3>
                <p class="product-description">{{ exhibiton.hall }}</p>
                <p>{{ exhibition.day  }}</p>
            </div>
        </div>
    {% endfor %}
    
</div>

{% endblock %}