{% extends 'base.html' %}
{% block content %}

<!--..Site header.................................................................................-->
<div class="row row-flex d-flex justify-content-center align-items-center">
<h3>Latest Art News from Swedish Radio</h3>
</div>

<!--..API Swedish Radio.................................................................................-->
<div class="row">

<!--..Konst / Form.................................................................................-->
<div class="card text-center col-12 col-md-4" style="width: 18rem;">
    <div id="radioimage" class="img-thumbnail" style="border: none;"></div> 
    <div id="radionews" class="card-body">
        <h3>Konst/Form</h3>
        <a href="https://sverigesradio.se/gruppsida.aspx?programid=3980&grupp=12936" class="btn btn-dark"  target="_blank" role="button"><i class="fas fa-play"></i></a>
    </div>
</div>

<!--..KULTURNYTT.................................................................................-->
<div class="card text-center col-12 col-md-4" style="width: 18rem;">
    <div id="radioimage2" class="img-thumbnail" style="border: none;"></div> 
    <div id="radionews2" class="card-body">
        <h3>Kulturnytt</h3>
        <a href="https://sverigesradio.se/sida/avsnitt?programid=478" class="btn btn-dark"  target="_blank" role="button"><i class="fas fa-play"></i></a>
    </div>
</div>

<!--..P1 Kultur.................................................................................-->
<div class="card text-center col-12 col-md-4" style="width: 18rem;">
    <div id="radioimage3" class="img-thumbnail" style="border: none;"></div> 
    <div id="radionews3" class="card-body">
        <h3>P1 Kultur</h3>
        <a href="https://sverigesradio.se/p1kultur" class="btn btn-dark"  target="_blank" role="button"><i class="fas fa-play"></i></a>
    </div>
</div>



{% endblock %}